/*common css start*/
 *{
     margin: 0;
     padding: 0;
     outline: 0;
     box-sizing: border-box;
 } 
html,body{
    scroll-behavior: smooth;
}
 body{
    font-family: 'Open Sans', sans-serif;
 }

 ul{
     list-style-type: none;
 }
a{
    text-decoration: none;
}
h1,h2.h3.h4,h5,h6{

    font-weight: 800;
    
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;

}
.text-center{
    text-align: center;
}
.sec_info h2{
    font-size: 46px;
    color: #02918c;
}
.sec_info p{
    font-size: 16px;
    color: #7e8287;
 
    margin: 0 auto;
    line-height: 41px;
}
 
.sec_info p span{
   font-size: 23px;
   font-weight: 800;
}
/*common css end*/

/*nav section css start*/
nav{
    background-color: #02918c;
    position: sticky;
    top: 0;
}
nav .row{
    align-items: center;
}
nav .logo{
    width: 20%;
}
nav .logo img{
    display: block;
}
nav .menu{
    width: 80%;
}
nav .menu ul{
    display: flex;
    justify-content: flex-end;
}
nav .menu ul li a{
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    padding: 0.81cm;
    transition: all 0.5 linear;
}
nav .menu ul li:hover a{
    color:#cfc91d
}
/*//nav section css end*/

/*bannner section css start*/
#banner{
    background-image: url(../Mp\ img/banner.jpg);
    height: 720px;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;


}

#banner::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;    
    top: 0;
    background-color: rgba(0,0,0.66);
    z-index: -1;
    opacity: 0.66;
}

#banner .roiw{
    align-items: center;
}
#banner .banner_content{
    text-align: center;
    color: #fff;
}
#banner .banner_content h4{
    font-size: 30px;
    font-weight: 400;
}
#banner .banner_content h1{
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 30px;

}
#banner .banner_content img{
    display: block;
    margin: 52px auto;
}
#banner .banner_content a{
    display: inline-block;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 4px;
    color: #0b1016;
    padding: 10px 38px;
    background-color: #cfc91d ;
}
/*//banner section css end*/

/*about section css start*/
#about{
    padding: 98px 0;
}
#about .sec_info{
    text-align: center;

}
about .sec_info p{
    width: 874px;
}

#about .about_item_container{
   margin-top: 75px ;
}
#about .about_item{
    width: 25%;
    color: #7e8287;
    border-right: 1px solid #d9dbdb;
    padding: 37px 65px;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
    
}

#about .about_item:last-child{
    border-right-color: transparent;


}
#about .about_item h5{
    font-size: 16px;
    margin: 20px 0;

}
about .about_item p{
    font-size: 11px;
    line-height: 21px;
}
/*//about section css end*/

/*services section css start*/

#service{
    padding: 65px 0;                
    background-image: url(../Mp\ img/computer.jpg);
    background-size: cover;
    background-position: center;
}

#service .service_content{
    width: 50%;
   
    
}
#service .service_item{
    width: 50%;
    color: #7e8287;
       
   
}
/*services section css end */
 
/*my work secction css start*/

#mywork .sec_info p{
    width: 23.92cm;
    font-size: 15pt;
}
#mywork .mywork_item{
    position: relative;
    width: 25%
    
}
#mywork .mywork_item img{
    width: 100%;
    display: block;
}
#mywork .mywork_item .overlay{
    color: #fff;
    position: absolute;
    background-color: rgba(2,145,140,0.85);
    top: 28px;
    left: 28px;
    right: 28px;
    bottom: 28px;
    display: flex;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5 linear;

}
#mywork .mywork_item:hover .overlay{
    opacity: 1;
    visibility: visible;
}
       

/*my work section css end*/

/*contactme section css startr*/

.sec_info p{
    width: 680px;
}
.contact_form{
    background-color: black;
    padding: 50px 0;
}
.contact_form input,
.contact_form textarea{
    display: block;
    background: none;
    margin: auto;
    width: 640px;
    border: none;
    border-bottom: 1px solid #898989;
    color: #797c81;
    text-transform: uppercase;
    text-align: center;
    padding: 18px;
    margin-top: 50px;
    font-size:16px
}
.contact_form input[placeholder="subject"],
.contact_form  textarea{
    width: 918px;
}
.contact_form textarea{
    resize: none;
    font-family: 'Open Sans', sans-serif;
}
.contact_form button{
   font-size: 20px;
    color:#0b1016 ;
    background-color: #cfc91d;
    padding: 15px 69px;
    text-transform: uppercase;
    border: none;
    margin: 50px auto 0;
    display: block;
    cursor: pointer;
   

}

/*contacme section css end*/

/*footer css start*/
footer{
    background-color: #0b0b0b; 
    padding: 15px;
    color: #797c81;
    text-transform: uppercase;
    
}

/*footer css start*/
